@import url('https://fonts.googleapis.com/css2?family=Zen+Antique&display=swap');
.gallery{
    position: relative;
}
.gallery-img{
    /* background: url(../../../images/gallery/bg-img.jpg); */
    width: 100%;
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-position: center center; 
}
.galary-container{
    background-image:url('../../../images/gallery/bg-img.jpg');
    background-repeat: no-repeat;
    background-position: top  ;
    background-attachment: fixed;
    background-size: cover;
    height: 80vh;
}
.gallery-text{
    position: absolute;
    top: 20%;
    left: 60%;
}
.shop-btn:hover{
    background: #fff;
    color: #222;
    transition: .3s;
}
.gallery-title{
    font-weight: 600;
    color: #fff;
    font-family: 'Zen Antique', serif;
    margin-bottom: 70px;
}
.shop-btn{
    transition: .3s;
    background-color: #AC192C;
    border: none;
    padding: 15px 30px;
    color: #fff;
    font-size: 16px;
    
}
.gallery-short-title{
    font-family: 'Courgette', cursive;
    color: #C3272E;
    margin-bottom: 10px;
    padding-top: 10px;
}

/* Make it responsive */

/* MD Device :768px. */
@media (min-width: 768px) and (max-width: 991px) {
    .gallery-text{
        top: 0;
       right: 0;
    }
    .gallery-title{
        margin-bottom: 40px;
    }
}
 
/* SM Small Device :550px. */
@media only screen and (min-width: 576px) and (max-width: 767px) {
    .gallery-text{
        top: 0;
       right: 0;
    }
    .gallery-title{
        margin-bottom: 10px;
    }
 
}

/* Make it responsive */

/* SM Small Device :320px. */
@media only screen and (min-width: 320px) and (max-width: 767px) {
    .gallery-text{
        top: 0;
       right: 0;
    }
    .gallery-title{
        margin-bottom: 10px;
    }
    
    .shop-btn{
        padding: 10px 20px;
         margin-bottom: 0;
        
    }
    
    .galary-container{
     display: none;
    }

}  

