@import url('https://fonts.googleapis.com/css2?family=Zen+Antique&display=swap');
.occasion-image{
    height:  350px;
    width: 350px;
    transition: .3s; 
}
 .description{
     color: #6F6F6F;
     font-family: 'Zen Antique', serif;
 }
 .img{
     position: relative;
     overflow: hidden;
     margin-top: 67px;
 }
 .secondary-img{
    height:  400px;
    width: 400px; 
    margin: 0 auto;
    transition: .3s;
     position: absolute;
     left: 0;
     top: 0;
     transition: .5s;
     transform: translateY(-100%);
 }
 .img:hover .secondary-img{
     transform: translateY(0);
     height:  100%;
     width: 100%;
     border-radius: 50%;
 }


